<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mr. Collection</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/contactUsStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>

    <% include partials/header%>

    <% include partials/user-navigation%>

    <main class="main">

      <% include partials/site-navigation%>

      <section class="mainContentContactUs">
        <article class="favContent">
          <div class="contactUsInfo">
            <span>
              <p class="head">Edit Your Accessory Here:</p>
            </span>
            <div class="contactUsForm">
              <form class="" action="/updateAccessory" method="post">
                <label for="itemName">Item Name:</label><br>
                <input type="text" name="itemName" value="<%=item[0].itemName%>" required><br><br>
                <label for="itemCategory">Item Category:</label><br>
                <select class="itemCategory" name="itemCategory" required>
                  <%categories.forEach(function(category){
                      var selected = (category == item[0].itemCategory) ? "selected":"";
                      %>
                      <option value="<%=category%>"<%=selected%>><%=category%></option>
                      <%
                  })%>
                </select><br><br>
                <label for="itemDescription">Item Description:</label><br>
                <textarea name="itemDescription" rows="8" cols="80" required><%=item[0].itemDescription%></textarea><br>
                <label for="itemSize">Item Size:</label><br>
                <input type="text" name="itemSize" value="<%=item[0].itemSize%>" required><br><br>
                <label for="itemCost">Item Cost (per day):</label><br>
                <input type="number" name="itemCost" value="<%=parseInt(item[0].itemCost.substr(1,item[0].itemCost.indexOf(' ')), 10)%>" required min="0"><br><br>
                <input type="hidden" name="itemCode" value="<%=item[0].itemCode%>">
                <input type="submit" name="editAccessory" value="Update My Accessory" id="submit">
              </form>
            </div>
          </div>
        </article>
      </section>

      <% include partials/footer%>

    </main>

    <script src="../assets/js/script.js" charset="utf-8"></script>
  </body>
</html>
